@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* CUSTOM BUTTOn */
.btn {
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  min-width: 150px;
  cursor: pointer;
  margin: 0.4rem 0;
  background-color: #eff5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: rgb(66, 82, 110) !important;
  position: relative;
}

.bg-primary {
  background: #1805db;
}
.btn-sm {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  min-width: 150px;
}

@media (max-width: 500px) {
  .btn {
    padding: 0.7rem 1.8rem;
    width: 100%;
    margin: 0.5rem auto;
  }
}
.btn-sm {
  border: none;
}
.action-btn {
  padding: 0.4rem 0.54rem;
  font-size: 0.812rem;
  line-height: 1.5;
  font-weight: bold;
  border-radius: 0.1875rem;
  border: none;
}

/* ICONS */
.icon-button {
  background: transparent;
  appearance: none;
  outline: none;
  border: none;
  transition: background-color 0.3ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 15px;
}

/* ICON STYLES */
.icon-faded {
  background: var(--icon-faded-bg);
  color: var(--icon-color);
}
.icon-outline {
  border: var(--icon-border);
}
.icon-faded-outline {
  background: var(--icon-faded-bg);
  color: var(--icon-color);
  border: var(--icon-border);
}
.icon-shadow-outline {
  box-shadow: 20.2px 29.1px 94.9px rgba(0, 0, 0, 0.035),
    161px 232px 146px rgba(0, 0, 0, 0.07);
  border: var(--icon-border);
}

.icon-bg {
  background-color: var(--icon-color);
  color: aliceblue;
}
.icon-rounded {
  border-radius: 50%;
}

/* ICON SIZES */
.icon-sm {
  height: 30px;
  width: 30px;
  font-size: 16px;
}
.icon-md {
  height: 45px;
  width: 45px;
  font-size: 18px;
}
.icon-lg {
  height: 55px;
  width: 55px;
  font-size: 20px;
}
.icon-ex-sm {
  height: 18px;
  width: 18px;
  font-size: 12px;
}
.icon-ex-lg {
  height: 65px;
  width: 65px;
  font-size: 22px;
}

/* CARDS */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  /* border: 1px solid rgba(233, 233, 233, 0.125); */
  border-radius: 6px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.text-primary {
  color: #061f3c;
}
.text-secondary {
  color: #072242;
}

.btn-primary {
  padding: 1.012rem 3rem;
  background-color: #434ce6;
  outline: none;
  color: #fff;
  font-weight: 500;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:disabled {
  opacity: 0.4; /* Reduce opacity to indicate the button is disabled */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
  /* Additional styling properties */
  color: white; /* Set a different text color */
}
